body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1{
  text-align: center;
}
figure img{
  width: 900px;
}
nav{
  display: flex;
  justify-content: center;
}
nav a{
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
}
figcaption{
  font-size: 14px;
  text-align: center;
}
#featured-property p{
  max-width: 800px;
  text-align: center;
}
#details{
  display: flex;
} 
#details div{
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}